@import "./partials/fonts";
@import "./partials/variables";
@import "./partials/condicionales";
@import "./partials/bucles";

@mixin tamanio ($alto, $ancho){
    height: $alto;
    width: $ancho;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-blanco;
    font-family: "Merriweather", serif;
}

h1 {
    margin: 5% 0%;
    text-align: center;
    font-weight: bold;
}

/*Comienza barra de menu*/

.navegacion {
    padding: 0 1rem;
    @include tamanio(60px, 100%);
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 10px;

    .logo {
        font-size: 1.5rem;
        padding: 20px 0px;
    }

    .nav {
        display: flex;
        list-style: none;
        width: 70%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: space-around;

        .menu {
            &:hover {
                transform: scale(1.09);
            }

            a {
                position: relative;
                list-style: none;
                text-decoration: none;

                &:active {
                    border-radius: 5px;
                    box-shadow: 5px 5px 20px $color-blanco;
                }
            }
        }
    }

    /*menu mobile*/
    #check-menu,
    .navegacion,
    label {
        display: none;
    }

    .navegacion,
    label,
    .bx-menu {
        font-size: 1.8rem;
    }
}

/*Comienza inicio*/
.container-header {
    max-width: 100%;
    min-width: 100px;
    margin: 0;
    padding: 0;

    .foto-logo {
        width: 100%;

    }
}

.presentacion {
    .bienvenidos {
        margin-top: 100px;
        letter-spacing: 1px;
        font-size: 1.3rem;
        padding: 0 5%;
    }

    .creacion {
        margin-top: 15px;
        letter-spacing: 1px;
        font-size: 0.8rem;
        line-height: 2.5rem;
        padding: 0 5%;
    }

    .img-productos {
        @include tamanio(350px, 100%);
        margin-top: 100px;
        border-radius: 12px;
        background-image: url(../img/productos/corona1.jpeg);
        background-position: center;
        background-size: cover;
        animation: galeria 30s infinite;
    }
}

@keyframes galeria {
    0%, 100% {
        background-image: url(../img/productos/corona1.jpeg);
    }

    12.5% {
        background-image: url(../img/productos/babero\ triangulo1.jpeg);
    }

    25% {
        background-image: url(../img/productos/Borlas.jpeg);
    }

    37.5% {
        background-image: url(../img/productos/angelitos1.jpeg);
    }

    50% {
        background-image: url(../img/productos/Almohadones\ tela\ algodon.jpeg);
    }

    62.5% {
        background-image: url(../img/productos/Almohadones\ tela\ lino.jpeg);
    }

    75% {
        background-image: url(../img/productos/Paneras.jpeg);
    }

    87.5% {
        background-image: url(../img/productos/Almohadones\ tela\ italiana.jpeg);
    }
}

/*productos*/

.productos {
    @include tamanio(100%, 100%);
    position: relative;
    margin-top: 10%;

    .galeria {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0px 20px;
    }

    .foto img {
        @include tamanio(50%, 100%);
        object-fit: cover;

        &:hover {
            transform: scale(1.03);
        }
    }

    .descripcion {
        @include tamanio(30%, 100%);
        padding: 10px;

        h2 {
            font-size: 1rem;
            text-align: center;
        }

        h3 {
            font-size: 1rem;
            text-align: center;
        }
    }
}

/*Cominza sobre nosotros*/
#nosotros {
    @include tamanio(100%, 100%);
    text-align: center;

    .parrafo {
        padding: 5% 5%;
        text-align: center;
    }

    video {
        padding: 5% 20%;
    }

    .taller {
        margin: 5% 0;

        .carousel-inner img {
            width: 100%;
            max-height: 600px;
        }

        .carousel-inner {
            height: 450px;
        }
    }

    .parrafo-pie {
        padding: 0% 5%;
        text-align: center;
    }
}

/*Comienza preguntas frecuentes*/

#preguntas {
    @include tamanio(100%, 100%);
    padding: 30px;

    .pregunta {
        margin: 50px;
    }

    ul .list {
        margin: 20px 60px;
        list-style: circle;
    }

    .respuesta {
        margin: 20px 60px;
    }

    .importante {
        margin: 20px 60px;
        font-style: italic;
        font-weight: bold;
    }
}

/*Comienza contacto*/

#contacto {
    @include tamanio(100%, 100%);
}

.info {
    border-radius: 10px;
    width: 50%;
    margin: 5% 25%;
    padding: 5%;
    display: flex;
    font-weight: bold;

    ul {
        width: 100%;
        list-style-type: none;

        .item {
            width: 80%;
            font-size: 1.3rem;
        }
    }
}

.formulario {
    width: 100%;
    padding: 20px;

    input {
        @include tamanio(40%, 100%);
        padding: 5px;
        background-color: $color-blanco;
        border: none;
        border-radius: 5px;
        outline: none;

        &:focus {
            background-color: lightgray;
        }
    }
}

textarea {
    @include tamanio(150px, 100%);
    padding: 5px;
    outline: none;
    background-color: $color-blanco;
    border: none;
    border-radius: 5px;

    &:focus {
        background-color: $color-blanco;
    }
}

/*Comienza footer*/
.footer {
    @include tamanio(160px, 100%);
    margin-top: 100px;
    margin-top: 10%;

    h5 {
        text-decoration: underline;
        padding: 20px 0px;
        text-align: center;
    }

    ul {
        .link_item {
            a {
                color: black;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }

    .registrarse {
        text-align: center;
    }
}

.col-lg-6 {
    .col-md-6 {
        .col-sm-12 {
            .col-12 {
                .siguenos {
                    width: 100%;
                }

                .suscribete {
                    width: 100%;
                }
            }
        }
    }
}

.siguenos {
    ul {
        display: flex;
        padding: 5px 5px;
    }
}

ul {
    .link_item {
        width: 100%;
        padding: 0;
        font-size: 1rem;
        text-align: center;
        list-style-type: none;

        &:hover {
            transform: scale(1.09);
        }

        a {
            i.bx {
                margin-right: 5px;
                font-size: 150%;
            }
        }
    }
}

.form-sub {
    width: 100%;
    text-align: center;

    input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
    }
}

.derecho-autor {
    width: 100%;

    .autor {
        height: 20px;
        text-align: center;
        padding: 5px 0px;
    }
}

/*Botones*/
.boton {
    border: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}
.boton-submit {
    @extend.boton;
    width: 30%;
    height: 50px;
    &:hover {
        transform: scale(1.03);
    }
}
.btn {
    @extend.boton;
    width: 20%;
    height: 40px;
    text-align: center;
    &:hover {
        transform: scale(1.03);
    }
}

@import "./partials/queries";